#headingg{
    text-align: center;
    font-family: cursive;
    font-size: 200%;
}
#bodyy
{
    background-image: url('nat3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    color: aliceblue;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#headingg2
{
    text-align: center;
    font-family: monospace;
}
#q1{
    display: flex;
    align-items: center;
    border: 3px solid rgb(5, 5, 5);
    padding: 5%;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #ec9e54 75%);
}
#btnMN1,#btnMN2,#btnMN3,#btnMN4
{
    border: solid;
    border-color: black;
    border-width: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#forq1{
    text-align: center;
    font-family:monospace;
    color: black;
    background-image: linear-gradient(250deg, #EADEDB 0%, #59dfab 50%, #dddb67 75%);
}
#q2
{
    display: flex;
    align-items: center;
    padding: 5%;
}
#inputt
{
    display: block;
    border: solid;
    border-width: 10%;
    border-radius: 10%;
    width: 60%;
    margin: 10%;
}
#sub
{
    background-color: rgb(250, 137, 165);
    font-family: cursive;
    color: black;
    width: 20%;
}