header
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
body
{
    font-family: monospace;
}
.dabs
{
    padding: .5vh;
    padding-left : 0px;
}
#scr4 {
    font-family: FreeMone, monospace;
    color: blanchedalmond;
    font-size: xx-large;
    background: rgb(249, 0, 85);
    border-radius: 10px;
    background: linear-gradient(133deg, rgba(249, 0, 83, 0.836) 0%, rgb(9, 9, 121) 35%, rgba(64, 67, 255, 0.808) 100%);
}
.subs
{
    border-radius: 1vh;
    box-shadow: 1vw 1vh 1.8vh 0vh;
}
